<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h2>Contact us Page</h2>
    <p>Contact the Go-Notes team @teamGoNotes</p>
  </body>
</html>