<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Go-Notes</h1>
    <p>Create and keep Notes on the Go. Need to store an idea somewhere on the move? Go-Notes is here for ya!</p>
  </body>
</html>