<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Go-Notes!</div>
                <div class="intro-heading">Take Your Notes With You</div>
                <%= link_to "Get Started Here", signup_path, class: "page-scroll btn btn-xl" %>
            </div>
        </div>
    </header>